@import "tailwindcss";

@layer base {
    body {
        background-color: #d1d1d1;
    }
}

@layer utilities {
    .container {
        max-width: 1110px;
        height: 1110px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }
}